/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

body {
    background-color: rgb(242, 235, 207);
}

div.container, div.home-container {
    max-width: 40em;
    margin: auto;
    background-color: rgb(242, 235, 207);
}

header {
padding: 1em 0em 1em 1em;
}

h1 {
    width: 20rem;
}

a {
    text-decoration: none;
    font-family: "bd-orange-variable", sans-serif;
font-variation-settings: "wght" 400;
}

nav ul {
margin-top: 2em;
list-style-type: none;
}

nav ul li {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: .2em;
    font-size: 1.3em;
}

nav ul li a{
    color: rgb(13, 107, 188);
    text-decoration: none;
    
}

h2 {
    color: rgb(13, 107, 188);
    font-size: 2em;
    margin: .2em 0em 0em .2em;
    font-family: "bd-orange-variable", sans-serif;
font-variation-settings: "wght" 600;
}

section.mainstory h2 {
    font-size: 3em;
    }

section.tertiary h2{
    font-size: 1.4em;
    margin-left: .4em;
    padding-top: .4em;
    margin-right: .4em;
}

p {
    font-family: "ibarra-real-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(34, 34, 34);
    font-size: 1em;
    margin: 0em .5em 2em .5em;
    line-height: 140%;
}

footer {
    background-color: rgb(13, 107, 188);
    font-family: "ibarra-real-nova", sans-serif;
font-weight: 400;
font-style: normal;
    color: rgb(242, 235, 207);
    padding: 1em 1em 1em .4em;
    margin-top: 0em;
    box-sizing: border-box;

}

figcaption {
    font-family: "ibarra-real-nova", sans-serif;
font-weight: 400;
font-style: italic;
    margin: .5em .5em 2em .5em;
}

img {
    width: 100%;
    display: block;
}

article h2 {
    
    font-size: 3em;
    margin-bottom: .5em;
    }

aside {
  
    padding-bottom:2em;
}



aside figure {
    padding: 1em .75em 0em .75em;
}

aside h2 {
    font-size: 1.25em;
    padding-left: .5em;
}

aside p {
    padding: 0em .5em 0em .5em;
}
@media screen and (min-width: 40em){
    nav ul li {
        display: inline;
    margin-right: 1em;
    }

    header {
        padding: 1em 0em 1em 0em;
        }

        h2 {
            margin: .2em 0em 0em 0em;
        }

        p {
            margin: 0em 0em 2em 0em;
        }

        footer {
            padding: 1em 1em 1em 0em;
        
        }

        section.tertiary h2{
            margin-left: 0em;
            margin-right: 0em;
        }

        figcaption {
            margin: .5em 0em 2em 0em;
        }

        aside p {
            padding: 0em .6em 0em .6em;
        }
}

@media only screen and (min-width: 60em) {


   aside p {
        margin: 0em 0em 0em 0em;
    }

    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside {
        margin-top: 0;
    }


    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    div.home-container aside {
    background: none;
    padding: 0;
    margin-top: 0;}

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 auto;
    }

    section.secondary{
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img {
        object-fit: cover;
    }

    section.secondary a h2 {
        flex: 0 0 1em;
    }

    section.secondary a p {
        flex: 0 0 auto;
    }
}
